# Ignore environment variables
.env

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

cookies.txt.txt

SCRIPTS\OUTPUTS
EXPORT
.kilocode